# Gradle files
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IDE files
.idea/
.vscode/
*.iml
*.iws
*.ipr

# Logs
logs/
*.log

# Test files
src/test/

# Git files
.git/
.gitignore

# Other
README.md
HELP.md
.DS_Store
